@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Bellefair&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: $color-white;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-weight: inherit;
}

p {
  color: $color-purple;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box; /* Set the sizing of an element to include it's border */
// }

// * {
//   margin: 0; /* Set the default margin to 0 */
//   padding: 0; /* Set the default padding to 0 */
// }

// ul[role="list"],
// ol[role="list"] {
//   list-style: none; /* Turn off numbered and unordered list decoration */
// }

// html:focus-within {
//   scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
// }

// a:not([class]) {
//   text-decoration-skip-ink: auto; /* Makes link undelines look better */
// }

// img,
// picture,
// svg,
// video,
// canvas {
//   max-width: 100%; /* Makes it responsive */
//   height: auto; /* Makes it responsive */
//   vertical-align: middle; /* Makes text next to inline images look better */
//   font-style: italic; /* If the images don't load it makes the alt decription look better */
//   background-repeat: no-repeat;
//   /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
//   background-size: cover;
// }

// input,
// button,
// textarea,
// select {
//   font: inherit; /* Makes these elements inherit fonts */
// }

// /* Turns off animation for people who don't want to see them */
// @media (prefers-reduced-motion: reduce) {
//   html:focus-within {
//     scroll-behavior: auto;
//   }
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//     transition: none;
//   }
// }

// body,
// html {
//   height: 100%; /* Makes the body element full screen */
//   scroll-behavior: smooth; /* Makes normal scrolling smooth */
// }
