.heading-one {
  font-size: 15rem;
}

.heading-two {
  font-size: 10rem;
}

.heading-three {
  font-size: 5.6rem;
}

.heading-four {
  font-size: 3.2rem;
}

.heading-five {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 4.75px;
}
